/example/terraform-provider-*
/pkg/
/website/.vagrant
/website/.bundle
/website/build
/website/node_modules
/website/vendor

bin/
dist/
modules-dev/

.terraform/
.vagrant/

*~
*.backup
*.bak
*.dll
*.exe
*.iml
*.log
*.test
*.tfplan
*.tfstate
*.tfstate.lock.info
*.tfvars

.*.swp
.DS_Store
.idea

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
