name: Linter

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read

jobs:
  golangci-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'

      - name: Setup Go
        uses: actions/setup-go@v5
        if: ${{ steps.filter.outputs.go == 'true' }}
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum

      - name: Lint code
        if: ${{ steps.filter.outputs.go == 'true' }}
        uses: golangci/golangci-lint-action@v6
        with:
          # renovate: datasource=github-releases depName=golangci/golangci-lint
          version: 1.64.7
          args: -v --timeout=10m
