name: Linter

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read

jobs:
  golangci-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'
            linter:
              - .github/workflows/golangci-lint.yml

      - name: Setup Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum

      - name: Lint code
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with: 
          version: v2.10.1 # renovate: depName=golangci/golangci-lint datasource=github-releases
          skip-cache: true
          args: -v --timeout=10m
