name: Linter

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read

jobs:
  golangci-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'
            linter:
              - .github/workflows/golangci-lint.yml

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum

      - name: Lint code
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with: 
          version: v2.3.1 # renovate: depName=golangci/golangci-lint datasource=github-releases
          skip-cache: true
          args: -v --timeout=10m
