name: Linter

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read

jobs:
  golangci-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'
            linter:
              - .github/workflows/golangci-lint.yml

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum

      - name: Lint code
        if: ${{ steps.filter.outputs.go == 'true' || steps.filter.outputs.linter == 'true'}}
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with: 
          version: v2.6.2 # renovate: depName=golangci/golangci-lint datasource=github-releases
          skip-cache: true
          args: -v --timeout=10m
