name: Publish Metrics

on:
  schedule:
    - cron: "0 0 * * *" # every day at 00:00 UTC (8pm EST)
  workflow_dispatch:
  push:
    branches:
      - "main"

jobs:
  github-metrics:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          template: repository
          filename: metrics.svg
          user: bpg
          repo: terraform-provider-proxmox
          token: "${{ secrets.METRICS_TOKEN }}"
          output_action: gist
          committer_gist: 2cc44ead81225542ed1ef0303d8f9eb9
          plugin_lines: yes
          plugin_followup: yes
          plugin_stargazers: yes
          plugin_stargazers_days: 365
          plugin_stargazers_charts_type: graph
