name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate Short Lived OAuth App Token
        uses: actions/create-github-app-token@78e5f2ddc08efcb88fbbee6cfa3fed770ba550c3 # v1.9.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"
          owner: "${{ github.repository_owner }}"
          repositories: "${{ github.event.repository.name }}"

      - name: Create / Update Release PR
        uses: google-github-actions/release-please-action@a37ac6e4f6449ce8b3f7607e4d97d0146028dc0b # v4.1.0
        with:
          token: "${{ steps.app-token.outputs.token }}"
