name: Release Please

on:
  push:
    branches:
      - main
      - switch-to-gh-app
  workflow_dispatch: {}

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:

      - name: "Generate Short Lived OAuth App Token (ghs_*)"
        uses: actions/create-github-app-token@f04aa94d10cf56334d1c580e077ce2e3569e805d #v1.6.3
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"
          owner: "${{ github.repository_owner }}"
          repositories: "${{ github.event.repository.name }}"

      - name: "Create / Update Release PR"
        uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 #v3.7.13
        with:
          token: ${{ steps.app-token.outputs.token }}
          release-type: go
          bump-minor-pre-major: true
          extra-files: |
            Makefile
          skip-github-release: false
          include-v-in-tag: true
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'
          signoff: 'GitHub Bot <48106979+bpg-bot@users.noreply.github.com>'
