name: Tests

on:
  pull_request: {}
  push:
    branches:
      - main
      - "release/**"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Filter paths
        uses: dorny/paths-filter@ebc4d7e9ebcb0b1eb21480bb8f43113e996ac77a # v3.0.1
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'

      - name: Setup Go
        if: steps.filter.outputs.go == 'true'
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            tools/go.sum

      - name: Get dependencies
        if: steps.filter.outputs.go == 'true'
        run: go mod download

      - name: Build
        if: steps.filter.outputs.go == 'true'
        run: go vet . && go build -v .

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Filter paths
        uses: dorny/paths-filter@ebc4d7e9ebcb0b1eb21480bb8f43113e996ac77a # v3.0.1
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            tools/go.sum

      - name: Get dependencies
        if: steps.filter.outputs.go == 'true'
        run: go mod download

      - name: Unit tests
        if: steps.filter.outputs.go == 'true'
        timeout-minutes: 10
        run: go test -v -cover ./...

      - name: Check for uncommitted changes in generated docs
        run: make docs && git diff --exit-code

  acceptance:
    needs: build
    strategy:
      max-parallel: 1
      matrix:
        os: [ ubuntu-latest ]
        terraform: [ 1.6 ]
    runs-on: ${{ matrix.os }}
    environment: pve-acc
    concurrency:
      group: acceptance
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            tools/go.sum

      - uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36 # v3.0.0
        with:
          terraform_version: ${{ matrix.terraform }}.*
          terraform_wrapper: false

      - name: Acceptance tests
        timeout-minutes: 10
        env:
          TF_ACC: 1
          PROXMOX_VE_INSECURE: false
          PROXMOX_VE_API_TOKEN: "${{ secrets.PROXMOX_VE_API_TOKEN }}"
          PROXMOX_VE_ENDPOINT: "https://${{ secrets.PROXMOX_VE_HOST }}:8006/"
          PROXMOX_VE_SSH_AGENT: false
          PROXMOX_VE_SSH_USERNAME: "terraform"
          PROXMOX_VE_SSH_PRIVATE_KEY: "${{ secrets.PROXMOX_VE_SSH_PRIVATE_KEY }}"
        run: make testacc
