name: Acceptance Tests

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch or tag to run tests against'
        required: true
        default: 'main'

jobs:
  acceptance:
    if: github.repository_owner == 'bpg'
    strategy:
      fail-fast: false
      matrix:
        terraform: [ 1.6 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        include:
          - os: ubuntu-latest
            node: pve1
            port: 13451
          - os: windows-latest
            node: pve2
            port: 13452
          - os: macos-latest
            node: pve3
            port: 13453
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    environment: pve-acc
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.inputs.ref || github.ref}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "**/*.sum"

      - name: Get dependencies
        run: go mod download

      - name: Set up gotestfmt
        run: go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest

      - uses: hashicorp/setup-terraform@651471c36a6092792c552e8b1bef71e592b462d8 # v3.1.1
        with:
          terraform_version: ${{ matrix.terraform }}.*
          terraform_wrapper: false

      - name: Acceptance tests
        timeout-minutes: 30
        env:
          TF_ACC: 1
          PROXMOX_VE_INSECURE: false
          PROXMOX_VE_API_TOKEN: "${{ secrets.PROXMOX_VE_API_TOKEN }}"
          PROXMOX_VE_ENDPOINT: "https://${{ secrets.PROXMOX_VE_HOST }}:8006/"
          PROXMOX_VE_SSH_AGENT: false
          PROXMOX_VE_SSH_USERNAME: "terraform"
          PROXMOX_VE_SSH_PRIVATE_KEY: "${{ secrets.PROXMOX_VE_SSH_PRIVATE_KEY }}"
          PROXMOX_VE_ACC_NODE_NAME: ${{ matrix.node }}
          PROXMOX_VE_ACC_NODE_SSH_ADDRESS: ${{ secrets.PROXMOX_VE_HOST }}
          PROXMOX_VE_ACC_NODE_SSH_PORT: ${{ matrix.port }}
          PROXMOX_VE_ACC_CLOUD_IMAGES_SERVER: ${{ secrets.PROXMOX_VE_ACC_CLOUD_IMAGES_SERVER }}
          PROXMOX_VE_ACC_CONTAINER_IMAGES_SERVER: ${{ secrets.PROXMOX_VE_ACC_CONTAINER_IMAGES_SERVER }}
        run:
          go test -json --timeout=30m --tags=acceptance -count=1 -v github.com/bpg/terraform-provider-proxmox/fwprovider/... 2>&1 | tee ${{ env.TMPDIR }}/gotest-${{ matrix.os }}.log | gotestfmt -hide empty-packages

      - name: Upload test log
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-log
          path: ${{ env.TMPDIR }}/gotest-${{ matrix.os }}.log
