name: Tests
on:
  pull_request: {}
  push:
    branches:
      - main
      - "release/**"
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 #v2.2.1
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'

      - name: Set up Go
        if: steps.filter.outputs.go == 'true'
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Get dependencies
        if: steps.filter.outputs.go == 'true'
        run: go mod download

      - name: Build
        if: steps.filter.outputs.go == 'true'
        run: go vet . && go build -v .

  test:
    name: Unit Tests
    needs: build
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 #v2.2.1
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'

      - name: Set up Go
        if: steps.filter.outputs.go == 'true'
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Get dependencies
        if: steps.filter.outputs.go == 'true'
        run: go mod download

      - name: Unit tests
        if: steps.filter.outputs.go == 'true'
        timeout-minutes: 10
        run: go test -v -cover ./...

  all-tests-passed:
    name: All Tests Passed
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "PASS"
